/* @import url("https://db.onlinewebfonts.com/c/c90d5b32b92cf6371f2ded27c8a955ef?family=Faritta"); */
@font-face {
  font-family: "Tallitha";
  src: url("../fonts/Thallita/Tallitha.ttf") format("truetype");
}

@font-face {
  font-family: "Bauer";
  src: url("../fonts/Bauer/Bauer.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
}

.nav-title {
  font-family: "Tallitha";
  font-size: small;
  margin-top: 14px;
  color: rgba(250, 241, 162, 0.856);
}

.contenedor h1 {
  font-weight: bolder;
  color: rgba(250, 241, 162, 0.856);
  text-align: center;
  font-family: "Tallitha";
}

.precios-subtitulo {
  margin-bottom: 70px !important;
}

.contenedor-img h2,
.precios-subtitulo {
  text-align: center;
  font-family: "Tallitha";
  color: rgba(250, 241, 162, 0.856);
}

.medios-pago {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconos,
.iconos img {
  width: 35px !important;
  height: 35px;
}

.mercado img {
  width: 43px !important;
}

.foot div {
  text-align: center;
}

.foot div a i {
  font-size: 50px;
  color: rgba(250, 241, 162, 0.856);
}

.foot h2 {
  font-family: "Tallitha";
  color: rgba(250, 241, 162, 0.856);
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.6);
}

.foot h3,
h4 {
  font-family: "Bauer";
  color: rgba(250, 241, 162, 0.856);
}

.foot-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Tallitha" !important;
}

.foot-firma {
  margin-top: 30px;
  margin-right: 10px;
  text-align: right;
}

.foot-firma img {
  filter: drop-shadow(0px 1px 8px rgb(255, 0, 0));
}

/*--------------PAGINA PRECIOS-------------*/
.precios-lista-items {
  display: flex;
  align-items: center;
  margin-left: 120px;
  border-bottom: 4px solid;
}

.precios img {
  width: 300px;
}

.medios-pago {
  margin-bottom: 30px;
}

.precios div div h2 {
  font-family: "Tallitha";
  color: rgba(250, 241, 162, 0.856);
  line-height: 80px;
  font-size: xx-larger;
  text-decoration: underline;
  transform: rotate(-6deg);
  margin-bottom: 50px;
}

.precios div div,
.precios-lista-variedades {
  font-family: "Bauer";
  color: rgba(250, 241, 162, 0.856);
}

.precios-lista-items-detalle {
  width: 67%;
  margin-left: 50px;
}

/*-----------------------------------------*/
@media only screen and (min-width: 1200px) {
  .row {
    --bs-gutter-x: -30px !important;
  }

  .contenedor h1 {
    margin-top: 70px;
    margin-bottom: 69.9px;
  }

  .general {
    text-align: center;
    margin-bottom: 150px;
  }

  .general img {
    width: 400px;
  }

  .contenedor-img h2,
  .precios-subtitulo {
    margin-bottom: 25px;
  }

  .pastas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    column-gap: 30px;
  }

  .img-pasta img {
    max-width: 400px;
    height: auto;
    overflow: hidden;
  }

  .img-pasta {
    position: relative;
    transition: filter 0.3s;
  }

  .info-texto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
  }

  .info-pasta {
    width: 600px;
    height: auto;
    margin-top: 40px;
    grid-area: 1 / 1 / 6 / 3;
  }

  .info-texto-parrafo {
    font-family: "Tallitha";
    color: rgba(250, 241, 162, 0.856);
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 57px;
    margin-right: 60px;
    grid-area: 1 / 3 / 6 / 6;
  }

  .pasta-texto {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .pasta-texto-parrafo {
    font-family: "Bauer";
    font-size: larger;
  }

  .foot {
    height: 265px;
  }

  .foot div a {
    margin-top: 30px;
  }

  .foot h2 {
    margin-top: 50px;
  }

  .detalle {
    margin-top: 30px;
  }

  .foot h3 {
    font-size: 16px;
  }

  .foot h4 {
    font-size: 13px;
  }

  .foot span {
    font-weight: bolder;
  }


}

@media only screen and (max-width: 525px) {
  .contenedor h1 {
    font-size: medium;
    margin: 40px 0 30px 0;
  }

  .general {
    text-align: center;
  }

  .general img {
    width: 300px;
  }

  .precios-subtitulo {
    font-size: 25px;
    font-weight: 600;
    margin: 30px 20px 0px 20px;
    line-height: 55px;
    text-align: center;
  }

  .img-pasta img {
    width: 300px;
  }

  .img-pasta p {
    font-family: "Bauer";
    font-size: 20px;
    color: rgba(250, 241, 162, 0.856);
    text-align: justify;
    margin: 20px 15px 0px 15px;
  }

  .capeletis {
    margin-bottom: 30px;
  }

  .medios-pago {
    margin-bottom: 30px;
    width: 130px;
    justify-content: flex-end;
    overflow: hidden;
    display: none;
  }

  .iconos,
  .iconos img {
    width: 45px !important;
    height: 45px;
  }

  .foot {
    height: 272px;
    position: absolute;
  }

  .foot h2 {
    margin-bottom: 30px;
  }

  .foot h3 {
    font-size: 15px;
  }

  .foot h4 {
    font-size: 14px;
  }

  .foot-icons {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .foot div a i {
    font-size: 40px;
  }

  .foot-firma {
    text-align: center;
    margin-top: -10px;
  }

  /*---------LISTA DE PRECIOS-----------*/
  .precios-lista-items {
    margin-left: 15px;
    border-bottom: 4px solid;
  }

  .precios img {
    width: 145px;
  }

  .precios-lista-items-detalle {
    width: 50%;
    margin-left: 20px;
  }

  .precios div div h2 {
    font-size: 19px;
    margin-bottom: 5px;
  }

  .precios div div h3 {
    font-size: 20px;
  }

  .precios-lista-precio {
    margin-bottom: 30px;
  }

  .noquis-precios,
  .noquis {
    margin-bottom: 80px;
  }

}
